*{
    margin: 0;
    padding: 0;
    box-sizing : border-box;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
.container{
    max-width: 980px;
    margin: auto;
    padding: 0 30px;
}
.row{
    display:flex;
    align-items: center;
    text-align: center;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    padding: 10px;
}
.grid3{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}
.col{
    outline: none;
    border: 1px solid grey;
    margin: 10px;
}
.col img{
    max-width: 100%;
    padding: 10px;
}
.fa-star,
.fa-star-half{
    color: orangered;
    padding: 10px 0;
}
.btn{
    margin: 10px;
    background-color: yellow;
    color: black;
    padding: 5px;
    outline: none;
    border: 1px solid black;
}

/* Header  */

#header{
    background: black;
    width: 100%;
    height: 60px;
    padding: 15px 30px;
}
.navbar{
    display: flex;
}
.navbar i{
    padding: 5px;
}
.navbar-title{
    font-size: 20px;
}
.navbar-cart{
    padding-left: 50rem;
    padding-top: 5px; 
    font-size: 20px;
}
#cart_count{
    padding: 5px 10px;
    border-radius: 40%;
    background: white;
    color: orange;
}


/* Cart.php */

hr{
    border: 1px solid black;
}
.grid12{
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding: 20px 0;
}
.cart-row{
    max-width: 1100px;
    display: flex;
}
.grid8{
    max-width: 1000px;
    padding: 50px;
    margin-left: 40px;
}
.table{
    border-collapse: collapse;
}
tr,th,td{
    padding: 20px;
    font-size: 14px; 
    border: 1px solid rgb(186, 183, 183); 
}
td img{
    width: 120px;
    height: 120px;
}
.danger-btn{
    background: red;
    color: white;
    padding: 7px;
    outline: none;
    border: 1px solid grey;
}
.grid4{
    width: 500px;
    height: 300px;
    margin: 50px 60px;
    padding: 20px;
    border: 1px solid rgb(218, 216, 216);
}
.grid4 h5{
    color: orangered;
    font-size: 20px;
    padding: 10px;
}
.grid4 h6{
    font-size: 14px;
    padding: 10px;
}
.price-details{
    display: flex;
}
.price2 h6{
    color: green;
    outline: none;
}
.payment-input {
    font-size: 14px;
}
.iquantity{
    text-align: center;
}
